<nav
  class="navbar navbar-light sticky-top mb-1 border-bottom"
  style="background-color: #ffffff"
>
  <div class="container py-0 mx-1 navtop">
    <a class="navbar-brand" href="#">
      <h1>FindaPotty</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border: #ffffff"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
