/*------------
 * Fonts used
 *------------
 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("/fonts/Gilroy-ExtraBold.otf");
}

/*----------------
 * Color palette
 *----------------
 */
:root {
  --neutral-color: #ffffff;
  --darker-neutral-color: #eeeeee;
  --primary-color: #bae8e8;
  --secondary-color: #2c698d;
  --accent-color: #272643;
  --font-on-light: #1e1e1e;
  --font-on-lighter: #676767;
  --font-on-dark: #fffff8;
}

/*----------------
 * Element styling 
 *----------------
 */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--neutral-color);
  color: var(--font-on-light);
  margin: 15% 0 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Gilroy Extra Bold";
}

h3 {
  font-size: calc(1.2rem + .6vw);
  font-weight: 600;
}

/*----------------
 * Template styling 
 *----------------
 */
nav {
  background-color: var(--neutral-color);
}

footer {
  border: 0 !important;
  background-color: var(--secondary-color);
}

footer i {
  color: var(--neutral-color);
}

/*---------------------------
 * Bootstrap-inspired Styling
 *---------------------------
 */

/* fontsizes */
.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.6rem !important;
}

/* widths and heights */
.w-40 {
  width: 40% !important;
}

/* background */
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-neutral {
  background-color: var(--neutral-color);
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

/* border */
.border-secondary {
  border-color: var(--secondary-color) !important;
}

/* text colors */
.text-accent {
  color: var(--accent-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-light {
  color: var(--font-on-light) !important;
}

.text-lighter {
  color: var(--font-on-lighter);
}

/*----------------
 * Misc. styling 
 *----------------
 */
.display-none {
  display: none !important;
}

.fit-content {
  width: fit-content !important;
}

/*----------------
 * Potties styling 
 *----------------
 */
.likes-container {
  text-align: center;
}

.clear {
  height: 4.5em;
}
