/*----------------
 * Tabpane styling 
 *----------------
 */
.nav-item {
  width: 33.3%;
  text-align: center;
}

.post-tab {
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--font-on-lighter);
}

.nav-link.active {
  border-bottom: solid 0.3em !important;
  border-color: #ffffff #ffffff #2c698d !important;
  color: #2c698d !important;
}

.container-fluid {
  width: 100%;
  height: 80%;
}

.post-tabs {
  height: 70%;
}

.tab-pane {
  width: 100%;
  height: 50%;
}

.tab-content {
  width: 100%;
  height: 90%;
  overflow-y: hidden;
}

.link-spanner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.likes-container {
  color: #676767;
  font-size: 0.8rem;
}

#detail-card {
  border-radius: 1rem;
}
